

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://{user}:{senha}@{host}:{porta}/{db}"
DATABASE_USER=SEU_USER
DATABASE_PASSWORD=SUA_SENHA
DATABASE_NAME=SEU_DB
DATABASE_HOST=SEU_HOST
DATABASE_PORT=SUA_PORTA