DATABASE_URL="mysql://{user}:{senha}@{host}:{porta}/{db}"
DATABASE_USER=SEU_USER
DATABASE_PASSWORD=SUA_SENHA
DATABASE_NAME=SEU_DB
DATABASE_HOST=SEU_HOST
DATABASE_PORT=SUA_PORTA_DO_DB
PORT=PORTA_ONDE_SUA_API_RODA